:root {
  --color-grey-dark-1: #333;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  /* @media only screen and (max-width: $bp-large) {
     font-size: 50%;
   } */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

/* NAVBAR */

.navbar {
  height: 5rem;
  /* background-color: rgb(204, 204, 204); */
  display: flex;
  z-index: 10;
}

@media screen and (min-width: 350px) {
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}

.nav-center {
  /* background-color: greenyellow; */
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  z-index: 10;
}

@media screen and (min-width: 350px) {
  .nav-links {
    display: flex;
    justify-content: flex-end;
  }

  .nav-links li {
    margin-right: 2rem;
  }
}

/* HERO */

.hero-center {
  display: grid;
  grid-template-rows: 1fr min-content;
}
.hero-info {
  grid-row: 2/3;
}

.hero-img {
  grid-row: 1/2;
}

figure img {
  width: 100%;
}

.text-padding {
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
}

.header {
  margin-top: -5rem;
  padding-top: 5rem;
  background-color: rgb(141, 141, 141);
}

@media screen and (min-width: 676px) {
  .hero-center {
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: 1fr;
  }
  .hero-info {
    grid-row: 1/1;
    grid-column: 1 / 2;
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .hero-img {
    grid-row: 1/1;
    grid-column: 2/-1;
    margin-top: -5rem;
    margin-bottom: -3rem;
  }
}

/* PRODUCT-ONE */

.product-one {
  background-color: rgb(179, 176, 176);
}

.product-one-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content;
}

.product-one-img {
  grid-column: 1 / -1;
}

.product-one-text {
  grid-column: 1/-1;
}

@media screen and (min-width: 676px) {
  .product-one-center {
    grid-template-columns: 0.4fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .product-one-img {
    grid-row: 1/1;
    grid-column: 2 / 3;
  }

  .product-one-text {
    grid-row: 1/1;
    grid-column: 3/-1;
  }
}

/* PRODUCT-TWO */

.product-two {
  background-color: rgb(141, 141, 141);
}

.product-two-center {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
}

.product-two-img {
  grid-row: 1/2;
  grid-column: 1 / -1;
}

.product-two-text {
  grid-row: 2/3;
  grid-column: 1/-1;
}

@media screen and (min-width: 676px) {
  .product-two-center {
    grid-template-columns: 2fr 1fr;
  }
  .product-two-img {
    grid-row: 1/1;
    grid-column: 2 / 3;
  }

  .product-two-text {
    grid-row: 1/1;
    grid-column: 1/2;
  }
}

/* PRODUCT THREE */
.product-three {
  background-color: rgb(179, 176, 176);
}

.product-three-center {
  display: grid;
  width: 90vw;
  margin: 0 auto;
  grid-template-rows: 1fr min-content;
}

.product-three-img {
  grid-row: 1/2;
  grid-column: 1 / -1;
}

.product-three-text {
  grid-row: 2/3;
  grid-column: 1/-1;
}

@media screen and (min-width: 676px) {
  .product-three-center {
    width: 95vw;
    margin: 0;
  }
  .product-three-img {
    grid-row: 1/1;
    grid-column: 1 / 2;
  }

  .product-three-text {
    grid-row: 1/1;
    grid-column: 2/3;
  }
}

/* FOOTER */

.footer {
  background-color: rgb(100, 100, 100);
}

.footer-center {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
}

.prod-desc {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.prod-price {
  grid-column: 1/-1;
  grid-row: 2/3;
  justify-self: center;
}

.prod-desc-table {
  grid-column: 1 / -1;
  grid-row: 3/4;
}

.footer-links {
  display: grid;
  justify-items: center;
  list-style-type: none;
  grid-template-columns: 1fr;
}

.footer-links div {
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

@media screen and (min-width: 676px) {
  .footer-center {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .prod-desc {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .prod-price {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: flex-end;
  }

  .prod-desc-table {
    grid-column: 1 / -1;
    grid-row: 3/4;
  }

  .footer-links {
    grid-template-columns: repeat(3, minmax(min-content, 20rem));
    justify-items: left;
  }

  .footer-links div {
    padding: 0;
    border-bottom: 0;
  }

  .footer-links div:not(:first-child) {
    padding-left: 2rem;
    border-left: 1px solid black;
  }
}
